* {
    margin: 0;
  }
  header {
    background-color: black;
  }
  
  h1 {
    color: red;
  }
  
  a {
    color: red;
    text-decoration: none;
  }
  
  img {
    width: 500px;
  }
  
  div {
    border: solid 1px red;
    width: 500px;
  }
  
  footer {
    background-color: black;
  }
  
  li {
    list-style: none;
    color: red;
  }
  